<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin login</title>
</head>
<body>
    <h3><%=authStatus%></h3>
    <form action="/admin" method="POST">
        <label for="userName">User Name</label>
        <input type="text" name="userName" id="userName">
        <label for="pass">Password</label>
        <input type="password" name="pass" id="pass">
        <button type="submit">Authenticate</button>
    </form>
</body>
</html>