<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin login</title>
</head>

<body>
    <style>
        body {
            text-align: center;
            font-family: cursive;
            background-color: #12181B;
        }
        h2{
            color: darkcyan;
        }
        .login-form{
            background-color: #2A2E35;
            padding: 5%;
            border-radius: 2%;
            margin-right: 35%;
            margin-left: 35%;
            margin-top: 10%;
            color: aliceblue;
            align-items: center;
        }
        button{
            text-decoration: none;
            background-color: darkcyan;
            color: aliceblue;
            padding: 2%;
            margin: 3%;
        }
    </style>
    <div class="login-form">
        <h2><%=authStatus%></h2>
        <form action="/admin" method="POST">
            <table>
                <tr>
                    <td>
                        <label for="userName">User Name</label>
                    </td>
                    <td><input type="text" name="userName" id="userName"></td>
                </tr>
                <tr>
                    <td><label for="pass">Password   </label></td>
                    <td><input type="password" name="pass" id="pass"></td>
                </tr>
            </table> 
           <button type="submit">Authenticate</button>
        </form>
    </div>

</body>

</html>