<%- include('header.ejs'); -%>


	<!-- Page info -->
	<div class="page-top-info">
		<div class="container">
			<h4>Your cart</h4>
			<div class="site-pagination">
				<a href="/">Home</a> /
				<a href="/cart">Your cart</a>
			</div>
		</div>
	</div>
	<!-- Page info end -->


	<!-- checkout section  -->
	<section class="checkout-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 order-2 order-lg-1">
					<form action="/checkout" method="POST" class="checkout-form">
						<div class="cf-title">Billing Address</div>
						<div class="row address-inputs">
							<div class="col-md-12">
								<input name="address" type="text" placeholder="Address">
							</div>
							<div class="col-md-6">
								<input name="contact" type="text" placeholder="Phone no.">
							</div>
							<div class="col-md-6">
								<input name="accountNumber" type="text" placeholder="Acc Number">
							</div>
						</div>
						<div class="cf-title">Payment</div>
						<ul class="payment-list">
							<li>Paypal<a href="#"><img src="img/paypal.png" alt=""></a></li>
							<li>Credit / Debit card<a href="#"><img src="img/mastercart.png" alt=""></a></li>
							<li>Pay when you get the package</li>
						</ul>
						<button class="site-btn submit-order-btn">Place Order</button>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- checkout section end -->

    <%- include('footer'); -%>